.hero {
    position: absolute;
    width: 24px;
    height: 36px;
    background: url('/src/img/hero/spriteDown.png') no-repeat;
    background-size: auto 36px;
    background-repeat: no-repeat;
    background-position: 0;
    animation: none;
    transform: scale(1.5);
    transition: top 0.2s ease, left 0.2s ease;
}
/* FIXME : clean this */
.hero.walk-left {
    background-image: url('/src/img/hero/spriteLeft.png');
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-right {
    background-image: url('/src/img/hero/spriteRight.png');
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-up {
    background-image: url('/src/img/hero/spriteUp.png');
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-down {
    background-image: url('/src/img/hero/spriteDown.png');
    animation: flat-sprite 0.7s steps(4) infinite;
}

@keyframes flat-sprite {
    from { background-position: 0; }
    to { background-position: -96px; }
}