.hero {
    width: 48px;
    height: 68px;
    margin-top: -16px;
    margin-left: -20px;
    background: url('/src/img/heroDown.png') no-repeat 0;
    animation: none;
    transform: scale(0.8);
}
.hero.walk-left {
    background: url('/src/img/heroLeft.png') no-repeat 0 0%;
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-right {
    background: url('/src/img/heroRight.png') no-repeat 0 0%;
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-up {
    background: url('/src/img/heroUp.png') no-repeat 0 0%;
    animation: flat-sprite 0.7s steps(4) infinite;
}
.hero.walk-down {
    background: url('/src/img/heroDown.png') no-repeat 0 0%;
    animation: flat-sprite 0.7s steps(4) infinite;
}

@keyframes flat-sprite {
    from { background-position: 0; }
    to { background-position: -192px; }
}