.App {
  text-align: center;
}

.map {
  margin: 100px auto;
  width: 352px;
  height: 100px;
  background-repeat: repeat-x;
  background-image: url('img/PizzaShopBattle.png');
  overflow: hidden;
  transform: scale(3);
}

.hero {
  position: absolute;
  width: 32px;
  height: 32px;
  background:  url('img/hero.png') no-repeat 0 0%;
  animation: walk-right 0.5s steps(7) infinite;
  transform: scale(0.8);
}

.hero.left {
  animation-name: walk-left;
}

@keyframes walk-right {
  from { background-position: 0 -32px; }
  to { background-position: -224px -32px; }
}

@keyframes walk-left {
  from { background-position: 0 -288px; }
  to { background-position: -224px -288px; }
}