.game-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

$posX: 286px; // 286px
$posY: 525px; // 525px
$topView: calc( 50% - $posY);
$leftView: calc( 50% - $posX);

.map {
  position: absolute;
  width: 1441px;
  height: 1448px;
  top: $topView;
  left: $leftView;
  transform: scale(3);
}

.hero {
  transform: scale(3);
  position: absolute;
  top: calc(100% / 2);
  left: calc(100% / 2);
}